.TabList{
    font-size: 18px;
    font-weight: 600;
    display: inline-flex;
    width: fit-content;
}

.react-tabs__tab {
    border: none;
}

.react-tabs__tab--selected {
    border-bottom: 2px solid red;
    color: darkslateblue;
    background-color: #fbfbfb;
}
.tabline{
    border: solid 2px #d2d9e6;
    width: 100%;
}
.gallery-button{
    width: fit-content;
    float: right;
    opacity: 0.9;
    background-color: black;
    color: white;
    border: none;
}
.btn{
    width: fit-content;
    float: right;
}